@page
@model CICN.Pages.AboutCicnModel
@{
    ViewData["Title"] = "About";
}

<div class="row">
    <div class="aboutCicn col-12 text-center mt-4 mb-5">
        <h1 class="">About CICN</h1>
    </div>
</div>

<div class="mb-5 mt-2">
    <div class="row">
        <div class="aboutCicn col-lg-6 col-md-6 col-sm-12 text-center m-auto">
            <h4 class="">Mission, Vision and Goals: </h4>
            <p>Lorem ipsum dolor sit amet, consectetur ed do eiusmod tempor incididunt ut labore etaliqua. Ut enim ad minimveniam, quis <a asp-page="Missionvisiongoals" class="font-weight-bold">more</a></p>
        </div>

        <div class="aboutCicn col-lg-6 col-md-6 col-sm-12">
            <img style="max-width: 100%; height:auto;" src="~/files/img/Example-Image.png" />
        </div>
    </div>

    <span class="aboutBorder w-100 mt-4" style="border: 0.5px solid black; opacity:10%; display:block;"></span>

    <div class="row mt-5">
        <div class="aboutCicn col-lg-6 col-md-6 col-sm-12 text-center m-auto">
            <h4 class="">Why Choose CICN: </h4>
            <p>Lorem ipsum dolor sit amet, consectetur ed do eiusmod tempor incididunt ut labore etaliqua. Ut enim ad minimveniam, quis <a asp-page="WhyChooseCicn" class="font-weight-bold">more</a></p>
        </div>

        <div class="aboutCicn col-lg-6 col-md-6 col-sm-12">
            <img style="max-width: 100%; height:auto;" src="~/files/img/Example-Image.png" />
        </div>
    </div>

    <span class="aboutBorder w-100 mt-4" style="border: 0.5px solid black; opacity:10%; display:block;"></span>

    <div class="row mt-5">
        <div class="aboutCicn col-lg-6 col-md-6 col-sm-12 text-center m-auto">
            <h4 class="">CICN CAMPUS: </h4>
            <p>Lorem ipsum dolor sit amet, consectetur ed do eiusmod tempor incididunt ut labore etaliqua. Ut enim ad minimveniam, quis <a asp-page="CicnCampus" class="font-weight-bold">more</a></p>
        </div>


        <div class="aboutCicn col-lg-6 col-md-6 col-sm-12">
            <img style="max-width: 100%; height:auto;" src="~/files/img/Example-Image.png" />
        </div>
    </div>
</div>