@page
@model CICN.Pages.AcademicsModel
@{
    ViewData["Title"] = "Academics";
}

<div class="row">
    <div class="academics col-12 text-center py-4">
        <h1 class="">Academics</h1>
    </div>
</div>