@page
@model CICN.Pages.AcademicCalendarModel
@{
    ViewData["Title"] = "Academic Calendar";
}

<div class="row">
    <div class="AcademicCalendar col-12 text-center mt-4 mb-5">
        <h1 class="">Academic Calendar</h1>
    </div>
</div>


<table border="1" width="100%" height="100%" style="font-size:20px" class="m-auto text-center">
    <tbody>
        <tr>
            <td class="p-2">October 1-30, 2021</td>
            <td></td>
            <td>Admission</td>
        </tr>

        <tr>
            <td class="p-2">November 1, 2021</td>
            <td scope="row">Tuesday</td>
            <td>Class Begin</td>
        </tr>

        <tr>
            <td class="p-2">November 21, 2021</td>
            <td scope="row">Monday</td>
            <td>Make-up class: Regular Sunday Classes</td>
        </tr>

        <tr>
            <td class="p-2">December 21, 2021</td>
            <td scope="row">Wednesday</td>
            <td width="650px" class="p-1">
                1st installment: A fine of Tk. 1,000/- will be imposed if 25%
                Tuition Fee and Trimester Fee is not paid within this date.
            </td>
        </tr>
    </tbody>
</table>
