@page
@model CICN.Pages.AdmissionRequirementsModel
@{
    ViewData["Title"] = "Admission Requirements";
}

<div class="row">
    <div class="admissionRequirements col-12 text-center mt-4 mb-5">
        <h1 class="">Admission Requirements</h1>
    </div>
</div>

<div style="font-size: 20px;" class="mb-5">
    <div class="mb-1">
        <b style="color: #087829; font-size:20px;">The minimum qualification for admission into an undergraduate program is: </b>
    </div>

    <div class="">
        1.    A minimum GPA of 2.5/2nd division/equivalent grade in SSC and HSC or equivalent public examinations. Students with GPA 2.00 in any examination either SSC or HSC, however, must have a minimum GPA of 6.00 totaling the GPA of both the examinations. <br /> <br />

        2.   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco <br /> <br />

        4.   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco <br /> <br />

        5.   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed <br /> <br />

        6.   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation <br /> <br />

        7.   Lorem ipsum dolor sit amet.
    </div>
</div>