@page
@model CICN.Pages.AdmissionProcessModel
@{
    ViewData["Title"] = "Admission Process";
}

<div class="mb-5">
    <div class="row">
        <div class="admissionProcess col-12 text-center mt-4 mb-5">
            <h1 class="">Admission Processes </h1>
        </div>
    </div>

    <div class="mb-5">
        <div class="">
            <p class="m-0 p-0 font-weight-bold" style="color: #087829; font-size: 20px; ">Collection of Admission Form:</p>
        </div>

        <p style="font-size:20px;">
            Admission Form is available at CICN Admission Office in working days between 9:00 AM to 5:00 PM. on payment of Tk. 0000/= (Non Refundable).
            Admission Form is also available in online.  You can Purchase, Submit and print Admit Card from online <a href="www.cicn.ihlbd.org">(cicn.ihlbd.org)</a>
        </p>
    </div>

    <div class="mb-5">
        <div class="">
            <p class="m-0 p-0 font-weight-bold" style="color: #087829; font-size: 20px; ">Submission of Admission Form:</p> 
        </div>

        <p style="font-size:20px;">
            You would not require submission of any documents of previous exams before admission.  You can print Admit Card from Online or from Admission Office.
            Only candidates of MSECO, MDS, MSCSE & EMBA program shall have to bring all academic certificates, transcripts & job experience certificate(s) at time
            of Viva Voce.
        </p>
    </div>

    <div class="mb-5">
        <div class="">
            <p class="m-0 p-0 font-weight-bold" style="color: #087829; font-size: 20px; "> Admission:</p> 
        </div>

        <p style="font-size:20px;">
            1. Admission fee taka 00000.00 (Non Refundable) <br />
            2. Caution Money for ID Card Tk. 0000.00 (Refundable) payable at the time of taking admission. <br />
            3. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim labore
            et dolore magna aliqua. Ut enim ad minim <br />
            4. labore et dolore magna aliqua. Ut enim ad minim labore et dolore magna aliqua. Ut enim ad minim <br />
            5. labore et dolore magna aliqua. Ut enim ad minimlabore et dolore magna aliqua. Ut enim ad minim <br />
            6. labore et dolore magna aliqua. Ut enim ad minimlabore et dolore magna aliqua. Ut enim ad minimlabore et dolore magna aliqua. Ut enim ad
            minimlabore et dolore magna aliqua. Ut enim ad minim <br />
        </p>
    </div>

    <div class="mb-5">
        <div class="">
            <p class="m-0 p-0 font-weight-bold" style="color: #087829; font-size: 20px; ">Payment Policy:</p>  
        </div>

        <p style="font-size:20px;">
            1. labore et dolore magna aliqua. Ut enim ad minimlabore et dolore magna aliqua. Ut enim ad minim <br />
            2. labore et dolore magna aliqua. Ut enim ad minimlabore et dolore magna aliqua. Ut enim ad minim <br />
            3. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim labore
            et dolore magna aliqua. Ut enim ad minim <br />
            4. labore et dolore magna aliqua. Ut enim ad minim labore et dolore magna aliqua. Ut enim ad minim <br />
            5. labore et dolore magna aliqua. Ut enim ad minimlabore et dolore magna aliqua. Ut enim ad minim <br />
            6. labore et dolore magna aliqua. Ut enim ad minimlabore et dolore magna aliqua. Ut enim ad minimlabore et dolore magna aliqua. Ut enim ad
            minimlabore et dolore magna aliqua. Ut enim ad minim <br />
        </p>
    </div>

    <div class="mb-4">
        <div class="">
            <p class="m-0 p-0 font-weight-bold" style="color: #087829; font-size: 20px; ">Post Admission:</p> 
        </div>

        <p style="font-size:20px;">
            1. labore et dolore magna aliqua. Ut enim ad minimlabore et dolore magna aliqua. Ut enim ad minim <br />
            2. labore et dolore magna aliqua. Ut enim ad minimlabore et dolore magna aliqua. Ut enim ad minim <br />
            3. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim labore
            et dolore magna aliqua. Ut enim ad minim <br />
            4. labore et dolore magna aliqua. Ut enim ad minim labore et dolore magna aliqua. Ut enim ad minim <br />
            5. labore et dolore magna aliqua. Ut enim ad minimlabore et dolore magna aliqua. Ut enim ad minim <br />
            6. labore et dolore magna aliqua. Ut enim ad minimlabore et dolore magna aliqua. Ut enim ad minimlabore et dolore magna aliqua. Ut enim ad
            minimlabore et dolore magna aliqua. Ut enim ad minim <br />
            7. After Admission you may contact with the following persons for any sort of queries:
        </p>
    </div>

    <div class="contactTable col-12">
        <table border="1" width="100%" height="100%" class="text-center">
            <thead>
                <tr>
                    <th width="300px" class="p-3">Purpose</th>
                    <th>Offices</th>
                    <th>Name of Concern Person</th>
                    <th>Cell</th>
                    <th>Email</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td rowspan="2" class="p-2">Admission related query</td>
                    <td rowspan="2">Admission</td>
                    <td class="p-3">Lorem ipsum dolor sit amet</td>
                    <td>+880163098XXXX</td>
                    <td>Loremipsumdolor@ihlbd.org</td>
                </tr>

                <tr>
                    <td class="p-3">Lorem ipsum dolor sit amet</td>
                    <td>+880163098XXXX</td>
                    <td>Loremipsumdolor@ihlbd.org</td>
                </tr>

                <tr>
                    <td class="py-3">Accounts, Bank deposit, Online payment related query</td>
                    <td>Finance & Accounts</td>
                    <td>Lorem ipsum dolor sit amet</td>
                    <td>+880163098XXXX</td>
                    <td>Loremipsumdolor@ihlbd.org</td>
                </tr>

                <tr>
                    <td class="py-3">Tuition fee waiver, Re-admission, Certificate, Transcript</td>
                    <td>Exam Controller</td>
                    <td>Lorem ipsum dolor sit amet</td>
                    <td>+880163098XXXX</td>
                    <td>Loremipsumdolor@ihlbd.org</td>
                </tr>

                <tr>
                    <td class="py-3">Email Service, CICN and other software & IT related issue</td>
                    <td>IT</td>
                    <td>Lorem ipsum dolor sit amet</td>
                    <td>+880163098XXXX</td>
                    <td>Loremipsumdolor@ihlbd.org</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>