@page
@model CICN.Pages.ApplyModel
@{
    ViewData["Title"] = "Apply";
}

<div class="row">
    <div class="apply col-12 text-center mt-4 mb-5">
        <h1 class="">Apply</h1>
    </div>
</div>

<p style="font-size:20px;">
    Students interested in taking admission to CICN should procure admission materials from the Admission Office and return
    the filled in Application Forms along with other documents to the Admission Office. Attested photocopies of all certificates,
    mark sheets, testimonials, 2 copies of passport size photograph are required to be submitted with the admission forms.
    After primary scrutiny, applicants will be called to sit for an admission test and interview. Admission tests are administered
    for Spring, Summer and Fall Trimesters. Dates of Admission Tests are published in newspapers and on the CICN website.
    At the time of taking admission, selected candidates are required to show their original Certificates, Mark sheets / Transcripts,
    Testimonials and submit 1 (one) copy of stamp-size photograph.
</p>
