@page
@model CICN.Pages.ApplyOnlineModel
@{
    ViewData["Title"] = "Apply Online";
}

<div class="row">
    <div class="applyOnlinePage col-12 text-center mt-4 mb-5">
        <h1 class="">Apply Online</h1>
    </div>
</div>

<div class="row">
    <div class="applyOnlinetext col-12 pt-2" style="font-size:20px;">
        <p>
            <div>
                1. A minimum GPA of 2.5/2nd division/equivalent grade in SSC and HSC or equivalent public examinations. Students with GPA 2.00 in any examination
                either SSC or HSC, however, must have a minimum GPA of 6.00 totalling the GPA of both the examinations.
            </div>

            <div class="py-3">
                2. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            </div>

            <div class="py-3">3. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>

            <div class="py-3">
                4. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                esse cillum dolore eu fugiat nulla pariatur. Excepteur.
            </div>

            <div class="py-3">5. Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>

            <div class="py-3">
                6. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            </div>
        </p>
    </div>
</div>

<div class="text-center pb-5 pt-3">
    <a class="btn bg-danger text-white py-2 px-3" asp-page="ApplyOnlineForm" style="font-size:20px;">AGREE AND CONTINUE</a>
</div>