@page
@model CICN.Pages.ContactUsModel
@{
    ViewData["Title"] = "Contacts Us";
}

<div class="row">
    <div class="contactUs col-12 text-center mt-4 mb-5">
        <h1 class="">Contact Us</h1>
    </div>
</div>

<div class="row mt-5 mb-5">
    <div class="col-lg-6 col-md-12 col-sm-12 m-md-auto m-lg-auto">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5423.09356426585!2d91.79212930118787!3d22.35944937761884!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30acd8e328704ffd%3A0x518c4a1ca25f627e!2z4KaH4Kau4KeN4Kaq4KeH4Kaw4Ka_4Kef4Ka-4KayIOCmueCmuOCmquCmv-Cmn-CmvuCmsiDgprLgpr_gpq7gpr_gpp_gp4fgpqE!5e0!3m2!1sbn!2sbd!4v1636145945363!5m2!1sbn!2sbd" width="450" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>

    <div style="font-size:20px;" class="col-lg-6 col-md-12 col-sm-12 mt-sm-4 mt-md-4">
        <p>
            Imperial Hospital Limited is a private hospital in
            Chattogram, Bangladesh. IHL was opened for the public
            in April 2019 during an inauguration ceremony launched
            by Devi Shetty, an Indian cardiac
            surgeon and entrepreneur.
        </p>

        <div><b>Address: </b>Zakir Hossain Rd, Chattogram 4202</div>
        <div><b>Hours: </b>Open 24 hours</div>
        <div><b>Phone: </b>09612-247247</div>
        <div><b>Number of beds: </b>375</div>
        <div><b>Founded: </b>April 2019</div>
        <div><b>Floor area: </b>660,000 square metres (7,100,000 sq ft)</div>
        <div><b>Funding: </b> Chattogram Eye hospital and Training Board Trust</div>
    </div>
</div>
