@page
@model CICN.Pages.Shared.ContactsModel
@{
    ViewData["Title"] = "Contacts";
}
<div class="container">
    <div class="row">
        <div class="contactsPage col-12 text-center py-4">
            <h1 class="">Contacts</h1>
            <p class="text-black-50">The preferred time for phone calls is from 9.00 AM to 5.00 PM</p>
        </div>
    </div>

    <div class="row">
        <div class="contactTable col-12">
            <table border="1" width="100%" height="100%" class="text-center">
                <thead>
                    <tr>
                        <th width="300px" class="p-3">Purpose</th>
                        <th>Offices</th>
                        <th>Name of Concern Person</th>
                        <th>Cell</th>
                        <th>Email</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td rowspan="2" class="p-2">Admission related query</td>
                        <td rowspan="2">Admission</td>
                        <td class="p-3">Lorem ipsum dolor sit amet</td>
                        <td>+880163098XXXX</td>
                        <td>Loremipsumdolor@ihlbd.org</td>
                    </tr>

                    <tr>
                        <td class="p-3">Lorem ipsum dolor sit amet</td>
                        <td>+880163098XXXX</td>
                        <td>Loremipsumdolor@ihlbd.org</td>
                    </tr>

                    <tr>
                        <td class="py-3">Accounts, Bank deposit, Online payment related query</td>
                        <td>Finance & Accounts</td>
                        <td>Lorem ipsum dolor sit amet</td>
                        <td>+880163098XXXX</td>
                        <td>Loremipsumdolor@ihlbd.org</td>
                    </tr>

                    <tr>
                        <td class="py-3">Tuition fee waiver, Re-admission, Certificate, Transcript</td>
                        <td>Exam Controller</td>
                        <td>Lorem ipsum dolor sit amet</td>
                        <td>+880163098XXXX</td>
                        <td>Loremipsumdolor@ihlbd.org</td>
                    </tr>

                    <tr>
                        <td class="py-3">Email Service, CICN and other software & IT related issue</td>
                        <td>IT</td>
                        <td>Lorem ipsum dolor sit amet</td>
                        <td>+880163098XXXX</td>
                        <td>Loremipsumdolor@ihlbd.org</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
