@page
@model CICN.Pages.FacultyModel
@{
    ViewData["Title"] = "Faculty";
}

<div class="row">
    <div class="facultyPage col-12 text-center mt-4 mb-5">
        <h1 class="">Faculty Members</h1>
    </div>
</div>

<div style="font-size:20px;" class="mb-5">
    <div class="row mb-5">
        <div class="col-lg-4 col-sm-12">
            <img width="300" height="300" src="~/files/img/example-fac-img.png" />
        </div>

        <div class="col-lg-8 col-sm-12">
            <p><b>Lorem em da</b> <br /> Principal</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                reprehenderit in voluptate velitesse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est
            </p>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-lg-4 col-sm-12">
            <img width="300" height="300" src="~/files/img/example-fac-img.png" />
        </div>

        <div class="col-lg-8 col-sm-12">
            <p><b>Lorem em da</b> <br />Vice Principal</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                reprehenderit in voluptate velitesse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est
            </p>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="mt-2">
                <img class="d-block ml-auto mr-auto" width="200" height="200" src="~/files/img/example-fac-img.png" />
            </div>

            <div class="text-center">
                <b>Lorem em da</b>
            </div>

            <span style="display:block; height:0; width:200px; border:1px solid black; opacity:20%;" class="mt-2 ml-auto mr-auto"></span>
            <p style="font-size:18px;" class="text-center mt-2">
                MBBS, MPH, DMU, CCD <br />
                Assistant Professor
            </p>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="mt-2">
                <img class="d-block ml-auto mr-auto" width="200" height="200" src="~/files/img/example-fac-img.png" />
            </div>

            <div class="text-center">
                <b>Lorem em da</b>
            </div>

            <span style="display:block; height:0; width:200px; border:1px solid black; opacity:20%;" class="mt-2 ml-auto mr-auto"></span>
            <p style="font-size:18px;" class="text-center mt-2">
                MBBS, MPH, DMU, CCD <br />
                Assistant Professor
            </p>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="mt-2">
                <img class="d-block ml-auto mr-auto" width="200" height="200" src="~/files/img/example-fac-img.png" />
            </div>

            <div class="text-center">
                <b>Lorem em da</b>
            </div>

            <span style="display:block; height:0; width:200px; border:1px solid black; opacity:20%;" class="mt-2 ml-auto mr-auto"></span>
            <p style="font-size:18px;" class="text-center mt-2">
                MBBS, MPH, DMU, CCD <br />
                Assistant Professor
            </p>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="mt-2">
                <img class="d-block ml-auto mr-auto" width="200" height="200" src="~/files/img/example-fac-img.png" />
            </div>

            <div class="text-center">
                <b>Lorem em da</b>
            </div>

            <span style="display:block; height:0; width:200px; border:1px solid black; opacity:20%;" class="mt-2 ml-auto mr-auto"></span>
            <p style="font-size:18px;" class="text-center mt-2">
                MBBS, MPH, DMU, CCD <br />
                Assistant Professor
            </p>
        </div>
    </div>

    <span style="display:block; height:0; width:80%; border:1px solid black; opacity:10%;" class="mt-2 ml-auto mr-auto mb-2"></span>

    <div class="row mb-5">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="mt-2">
                <img class="d-block ml-auto mr-auto" width="200" height="200" src="~/files/img/example-fac-img.png" />
            </div>

            <div class="text-center">
                <b>Lorem em da</b>
            </div>

            <span style="display:block; height:0; width:200px; border:1px solid black; opacity:20%;" class="mt-2 ml-auto mr-auto"></span>
            <p style="font-size:18px;" class="text-center mt-2">
                MBBS, MPH, DMU, CCD <br />
                Assistant Professor
            </p>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="mt-2">
                <img class="d-block ml-auto mr-auto" width="200" height="200" src="~/files/img/example-fac-img.png" />
            </div>

            <div class="text-center">
                <b>Lorem em da</b>
            </div>

            <span style="display:block; height:0; width:200px; border:1px solid black; opacity:20%;" class="mt-2 ml-auto mr-auto"></span>
            <p style="font-size:18px;" class="text-center mt-2">
                MBBS, MPH, DMU, CCD <br />
                Assistant Professor
            </p>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="mt-2">
                <img class="d-block ml-auto mr-auto" width="200" height="200" src="~/files/img/example-fac-img.png" />
            </div>

            <div class="text-center">
                <b>Lorem em da</b>
            </div>

            <span style="display:block; height:0; width:200px; border:1px solid black; opacity:20%;" class="mt-2 ml-auto mr-auto"></span>
            <p style="font-size:18px;" class="text-center mt-2">
                MBBS, MPH, DMU, CCD <br />
                Assistant Professor
            </p>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="mt-2">
                <img class="d-block ml-auto mr-auto" width="200" height="200" src="~/files/img/example-fac-img.png" />
            </div>

            <div class="text-center">
                <b>Lorem em da</b>
            </div>

            <span style="display:block; height:0; width:200px; border:1px solid black; opacity:20%;" class="mt-2 ml-auto mr-auto"></span>
            <p style="font-size:18px;" class="text-center mt-2">
                MBBS, MPH, DMU, CCD <br />
                Assistant Professor
            </p>
        </div>
    </div>
</div>

