@page
@model CICN.Pages.OfficeApplicationModel
@{
    ViewData["Title"] = "Office Application";
}

<div style="font-size:20px;" class="mb-5">
    <div class="row">
        <div class="officeApplication col-12 text-center mt-4 mb-5">
            <h1 class="">Office Application</h1>
        </div>
    </div>

    <div class="text-center mb-3">
        <b style="color: #087829; font-size:25px;">Admission Form Purchase & Submission Procedure</b>
    </div>

    <div class="mb-2">
        <p><b>General Information:</b>  Before starting the process please scan your recent Official Passport size color photograph (taken within last 3 months), signature and Father/Mother’s signature.  Photograph wearing school /college uniform, selfie is not acceptable.   Image size should be within 80 KB (JPEG).</p>
    </div>

    <b>For students who have collected Admission Forms from Admission Office. </b> <b></b>

    <p>
        1. Please visit the following web site: www.cicn.ihlbd.org <br />
        2. Click log In (Top Right portion of the page) <br />
        3. Enter your User ID & Password (provided in the Money Receipt) <br />
        4. Fill-in Form (Step-Two) <br />
    </p>
</div>