@page
@model CICN.Pages.SelectedCanditates2Model
@{
    ViewData["Title"] = "Selected Candidates";
}

<div class="row">
    <div class="selectedCanditates2 col-12 text-center mt-4 mb-5">
        <h1 class="">Selected Candidates</h1>
    </div>
</div>

<div style="font-size:20px;" class="mb-5">
    <div class="text-left">
        <p><b>Publish Date :</b> 1st November 2022</p>
    </div>

    <div class="mt-4">
        <p><b>Admission Procedure:</b>   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad within September 8, 2022 (Wednesday).</p>
    </div>

    <div class="mt-4">
        <p><b>At CICN Campus:</b> Selected candidates can take admission at CICN Admissions Office after paying requisite Admission Fee (Tk. 0000) and Caution Money for ID Card (Tk. 0000 – refundable) in cash at CICN Finance & Accounts Office on the working days (Saturday to Wednesday) during 10.00 AM to 3.00 PM (Except Govt. Holidays).</p>
    </div>

    <div class="mt-4">
        <b>Via Online:</b> Selected candidates will be able to log-in and take admission online at www.cicn.ihlbd.org using the username & password provided at the time of submitting their Admission Form. After log-in, selected candidates will see the “Pay Admission Fee” button on the home page. They can pay the requisite Admission Fee (Tk. 00000) and Caution Money for ID Card (Tk. 0,000 – refundable) using Credit/Debit Cards (Visa, Master, Amex, DBBL Nexus), any Mobile Banking (Bkash, Rocket, UPay, SureCash, t-Cash, etc.) or Internet Banking (AB Bank, City Bank, iPay, etc.). Service Charge will be applicable for online payment. For further queries, please contact 01630000000, 01630000000, 01630000000, 01630000000.
    </div>

    <div class="mt-4">
        Candidates, who will take admission at CICN Campus, must submit the attested photocopies of all Certificates, Testimonials & Transcripts/Mark     Sheets, National ID Card/Birth Registration Certificate/Copy of Passport of the candidate, National ID Card of Father/Mother, 2 (two) copies of   passport-sized photograph and 1 (one) copy of stamp-sized photograph (which is uploaded online) to the CICN Admissions Office at the time of taking admission. <br /> <br />

        Candidates, who will take admission via online, would require sending the scanned copies of above-mentioned documents to the email address: admissions@cicn.ihlbd.org They would also require submitting the attested photocopies of above-mentioned documents soon after reopening of the University. Please note that discrepancy in any document of a student may lead to cancellation of admission of the concerned student.
    </div>

    <div class="text-center mt-5">
        <p class="text-center font-weight-bold" style="color: #087829; font-size: 25px; ">List of Selected candidate</p>
    </div>

    <table border="1" width="100%" height="100%" style="font-size:20px" class="text-center mt-3">
        <thead>
            <tr>
                <th class="p-2">#SL</th>
                <th>Names of Selected Candidates</th>
                <th>Roll. No</th>
                <th>Course</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td class="p-2">01</td>
                <td scope="row">Bongo</td>
                <td>001</td>
                <td>B.Sc. Nursing</td>
            </tr>

            <tr>
                <td class="p-2">02</td>
                <td scope="row">Iftekhar</td>
                <td>002</td>
                <td>B.Sc. Nursing</td>
            </tr>

            <tr>
                <td class="p-2">03</td>
                <td scope="row">Mohiul</td>
                <td>003</td>
                <td>B.Sc. Nursing</td>
            </tr>
        </tbody>
    </table>
</div>
