@page
@model CICN.Pages.SyllabusModel
@{
    ViewData["Title"] = "Syllabus";
}
<div class="row">
    <div class="syllabusPage col-12 text-center mt-4 mb-5">
        <h1 class="">Syllabus</h1>
    </div>
</div>

<div class="row mb-3">
    <div class="syllabus col-12 text-center">
        <table border="1" width="100%" height="100%">
            <thead>
                <tr>
                    <th class="p-2">Code</th>
                    <th>Name</th>
                    <th>No. of Hours</th>
                    <th colspan="3">Marks</th>

                </tr>
            </thead>

            <tbody>
                <tr>
                    <th style="color: #087829; font-size:20px;" colspan="6" class="p-2">First Year</th>
                </tr>
            </tbody>

            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th class="p-2">T/L/P</th>
                    <th>W</th>
                    <th>Cell</th>
                    <th>Total</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <th>B111</th>
                    <td class="p-2"><b>Communicative English and Information & Communication Technology</b> <br /> Paper-1 (English) :60/32/0 <br /> Paper-2 (ICT) :48/56/0</td>
                    <td>108/88/0</td>
                    <td>70 <br /> 70</td>
                    <td>30 <br /> 30</td>
                    <td>200</td>
                </tr>

                <tr>
                    <th>B112</th>
                    <td class="p-2"><b>Behavioral Science</b></td>
                    <td>112/0/48</td>
                    <td>100</td>
                    <td>50</td>
                    <td>150</td>
                </tr>

                <tr>
                    <th>B111</th>
                    <td class="p-2"><b>Anatomy & Physicology</b> <br /> Paper-1 (Anatomy) :96/36/0 <br /> Paper-2 (Physiology) :96/36/0</td>
                    <td>92/72/0</td>
                    <td>100 <br /> 100</td>
                    <td>50 <br /> 50</td>
                    <td>300</td>
                </tr>

                <tr>
                    <th>B134</th>
                    <td class="p-2"><b>Fundamentals of Nursing-1</b> <br /> Paper-1 (Fundamental of Nursing) :200/168/240 <br /> Paper-2 (Microbiology) :72/32/0</td>
                    <td>192/72/0</td>
                    <td>100 <br /> 100</td>
                    <td>50 <br /> 50</td>
                    <td>350</td>
                </tr>

                <tr>
                    <th></th>
                    <td class="p-2 text-right"><b>Total=</b></td>
                    <td>684/360/288</td>
                    <td>640</td>
                    <td>360</td>
                    <td>100</td>
                </tr>

            </tbody>


            <tbody>
                <tr>
                    <th style="color: #087829; font-size: 20px;" colspan="6" class="p-2">Second Year</th>
                </tr>
            </tbody>


            <tbody>
                <tr>
                    <th>B231</th>
                    <td class="p-2"><b>Fundamentals of Nursing-2</b> <br /> Paper-1 (Fundamentals of Nursing & Health Assessment) :108/16/64 <br /> Paper-2 (Nutrition & Dietetics) :72/16/32</td>
                    <td>180/32/96</td>
                    <td>100 <br /> 100</td>
                    <td>50 <br /> 50</td>
                    <td>300</td>
                </tr>

                <tr>
                    <th>B232</th>
                    <td class="p-2"><b>Pediatric Nursing</b></td>
                    <td>96/16/480</td>
                    <td>100</td>
                    <td>100</td>
                    <td>200</td>
                </tr>

                <tr>
                    <th>B233</th>
                    <td class="p-2"><b>Medical & Surgical Nursing-1</b> <br /> Paper-1 (Medical & Surgical Nursing) :84/36/480 <br /> Paper-2 (Phermacology) :72/0/0</td>
                    <td>92/72/0</td>
                    <td>100 <br /> 70</td>
                    <td>100 <br /> 30</td>
                    <td>300</td>
                </tr>

                <tr>
                    <th>B234</th>
                    <td class="p-2"><b>Orthopedic Nursing</b></td>
                    <td>72/24/144</td>
                    <td>100</td>
                    <td>100</td>
                    <td>200</td>
                </tr>

                <tr>
                    <th></th>
                    <td class="p-2 text-right"><b>Total=</b></td>
                    <td>504/108/864</td>
                    <td>570</td>
                    <td>430</td>
                    <td>1000</td>
                </tr>
            </tbody>

            <tbody>
                <tr>
                    <th style="color: #087829; font-size: 20px;" colspan="6" class="p-2">Third Year</th>
                </tr>
            </tbody>


            <tbody>
                <tr>
                    <th>B331</th>
                    <td class="p-2"><b>Medical & Surgical-2</b> <br /> Paper-1 (Pathophysiology) :176/0/288 <br /> Paper-2 (Gerontological Nursing) :64/0/96</td>
                    <td>176/0/384</td>
                    <td>100 <br /> 100</td>
                    <td>50 <br /> 50</td>
                    <td>300</td>
                </tr>

                <tr>
                    <th>B332</th>
                    <td class="p-2"><b>Community Health Nursing</b></td>
                    <td>132/0/240</td>
                    <td>100</td>
                    <td>100</td>
                    <td>200</td>
                </tr>

                <tr>
                    <th>B333</th>
                    <td class="p-2"><b>Psychiatric Nursing</b></td>
                    <td>80/0/192</td>
                    <td>100</td>
                    <td>100</td>
                    <td>200</td>
                </tr>

                <tr>
                    <th>B324</th>
                    <td class="p-2"><b>Emergency & Critical Care Nursing</b></td>
                    <td>80/36/192</td>
                    <td>100</td>
                    <td>100</td>
                    <td>200</td>
                </tr>

                <tr>
                    <th></th>
                    <td class="p-2 text-right"><b>Total=</b></td>
                    <td>468/36/192</td>
                    <td>400</td>
                    <td>500</td>
                    <td>900</td>
                </tr>

            </tbody>

            <tbody>
                <tr>
                    <th style="color: #087829; font-size: 20px;" colspan="6" class="p-2">Fourth Year</th>
                </tr>
            </tbody>


            <tbody>
                <tr>
                    <th>B431</th>
                    <td class="p-2"><b>Midwifery</b> <br /> Paper-1 (Midwifery) :144/40/368 <br /> Paper-2 (Gynecological and Obstetrical Nursing) :64/32/368</td>
                    <td>208/72/736</td>
                    <td>100 <br /> 100</td>
                    <td>100 <br /> 100</td>
                    <td>400</td>
                </tr>

                <tr>
                    <th>B432</th>
                    <td class="p-2"><b>Community Health Nursing</b> <br /> Paper-1 (Nursing Education) :72/0/96 <br /> Paper-2 (Leadership & Management) :72/0/96</td>
                    <td>144/0/192</td>
                    <td>100 <br /> 70</td>
                    <td>100 <br /> 30</td>
                    <td>300</td>
                </tr>

                <tr>
                    <th>B433</th>
                    <td class="p-2"><b>Research in Nursing</b></td>
                    <td>80/0/80</td>
                    <td>100</td>
                    <td>100</td>
                    <td>200</td>
                </tr>

                <tr>
                    <th></th>
                    <td class="p-2 text-right"><b>Total=</b></td>
                    <td>432/72/1008</td>
                    <td>470</td>
                    <td>430</td>
                    <td>900</td>
                </tr>

                <tr>
                    <th></th>
                    <th></th>
                    <td class="p-2 text-center">2088/576/3168 <br /><b>Grand Total</b> =5832</td>
                    <td>2180</td>
                    <td>1620</td>
                    <td>3800</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>

<p class="mb-5 text-center"><b>*Internship:</b> After completion of the program every student has to perform 06(six) months internship.</p>
