@page
@model CICN.Pages.TutionFeesModel
@{
    ViewData["Title"] = "Tuition Fees";
}

<div class="row">
    <div class="tutionFees col-12 text-center mt-4 mb-5">
        <h1 class="">Tuition Fees</h1>
    </div>
</div>

<table style="font-size: 20px;" class="table table-striped w-75 m-auto">
    <thead>
        <tr>
            <th scope="col">B.Sc. in Nursing</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td scope="row">Admission Form</td>
            <td>TK</td>
            <td>0000</td>
        </tr>

        <tr>
            <td scope="row">Admission Fee</td>
            <td>TK</td>
            <td>0000</td>
        </tr>

        <tr>
            <td scope="row">Tuition Fee</td>
            <td>TK</td>
            <td>0000</td>
        </tr>

        <tr>
            <td scope="row">Library, Computer, Laboratory & Student Activities Fee </td>
            <td>TK</td>
            <td>0000</td>
        </tr>

        <tr>
            <td scope="row">Accommodation </td>
            <td>TK</td>
            <td>0000</td>
        </tr>
    </tbody>
</table>